<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<<<<<<< HEAD
<title th:text="#{app.title}"> Meetingroom Reservation App</title>
=======
<title th:text="#{}"> Meetingroom Reservation App</title>
>>>>>>> ac3b17bf0d06272efc8047489b0a51f119e9902a
<link rel="stylesheet" href="../static/css/" th:href="@{css/}" />
</head>
<body>
 <div class= "container">
 
<<<<<<< HEAD

 
    <form method="post" action="#"  th:action="@{/booking}" th:object="${bookingForm}">
        <h1 th:text="#{bookingForm.header1}"> Here you can book the meetingroom </h1>
=======
 <h1 th:text="#{}"> Here you can book the meetingroom </h1>
 
    <form action="#"  th:action="@{/}" th:object="${kalandraPacsirta}" method="post">
>>>>>>> ac3b17bf0d06272efc8047489b0a51f119e9902a
      
      <input type="hidden" th:field="*{id}">
      
      <label th:text="#{booking.form.label.name}">Your name:</label>
      <span class="validation-error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</span> 
      <input type="text" th:field="*{name}" />
      
      <label th:text="#{booking.form.label.roomNumber}">Number of the reserved room:</label>
      <span class="validation-error" th:if="${#fields.hasErrors('roomNumber')}" th:errors="*{roomNumber}">Error</span> 
      <input type="" th:field="*{roomNumber}" />

      <input type="submit" value="Submit">
      
    </form>
    
</div>

</body>
</html>